.github/
.playwright-mcp/
.vscode/
.VSCodeCounter/
.vs/
.git/
node_modules/
eslint.config.cjs
.gitignore
.npmignore
.DS_Store
/doc/
!/doc/purease-rag.md
*.ts
!*.d.ts
tsconfig.json
package-lock.json

/utils/
/dist/control/
/dist/demo/
/dist/test/
/dist/purease.js
/dist/control.js
/dist/dom.js
/dist/tool.js
/dist/pack*
/dist/index.scss
/types/